<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan = "3"></th>
    </tr>
  </thead>
  
    <% @books.each do |list| %>
    <tr>
      <td><%= list.title %></td>
      <td><%= list.body %></td>
      <!--<td>< %= link_to "show", book_path(book.id) %></td>-->

      <td>Show</td>
      <td>Edit</td>
      <td>Destroy</td>
    </tr>
      <% end %>

</table>



<h2>New book</h2>
<%= form_with model: @book, id: "new-book", class: "new-book" do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "book_title" %>
  </div>

  <div class="field">
    <%= f.label :body, "Body" %>
    <%= f.text_area :body, class: "book_body" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Book" %>
  </div>
  
<% end %>